.game_square {

    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 10px;

}

.game_square:hover {
    background: gray
}